#jinja2: lstrip_blocks: "True"
{{ prometheus_var_config | to_nice_yaml(indent=2) }}
{% if prometheus_node_exporter_group %}
- job_name: node
  scrape_interval: 15s
  metrics_path: /metrics
  static_configs:
  - targets: [add-service1:9100, add-service2:9100, 
              database:9100, frontend:9100, 
              delete-service1:9100, delete-service2:9100, 
              get-service1:9100, get-service2:9100,
              load-balancer1:9100, load-balancer2:9100, 
              load-balancer3:9100]
{% endif %}